<div class="padding">
	<div class="alignleft logo">
	  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
      <a href="https://travis-ci.org/stackOverMind/singularity"><img src="https://camo.githubusercontent.com/a469219c6d92527f999c0b0375b8b5160a47453b/68747470733a2f2f7472617669732d63692e6f72672f737461636b4f7665724d696e642f73696e67756c61726974792e7376673f6272616e63683d6d6173746572" alt="Build Status" data-canonical-src="https://travis-ci.org/stackOverMind/singularity.svg?branch=master" style="max-width:100%;"></a>
	</div>
	<nav id="main-nav" class="alignright">
		<input type="checkbox" id="toggle" />
		<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick><i class="fa fa-bars"></i></label>
	  <ul class="menu">
	    <% for (var i in theme.menu){ %>
	      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
	    <% } %>
	    <% if (theme.rss){ %>
	    	<li><a href="<%= theme.rss %>" target="_blank" title="bruce tan blog rss" class="rss-top"><i class="fa fa-rss"></i></a></li>
	    <% } %>
	  </ul>
	</nav>
	<div class="clearfix"></div>
</div>
